.section-meals {
  width: 100%;
}

.section-meals ul {
  width: 100%;
}

li {
  width: 25%;
  display: block;
  float: left;
  overflow: hidden;
}

figure {
  padding: 0;
  margin: 0;
  background-color: #000;
  position: relative;
}

.meal-photo img:first-child {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.7;
  transform: scale(1.04);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img {
  opacity: 0.7;
  position: absolute;
  width: 18%;
  height: auto;
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:last-child {
  bottom: 5%;
  right: 10px;
}

.meal-photo img:hover,
.meal-photo img:active,
.meal-photo img:first-child:hover ~ img:last-child,
.meal-photo img:first-child:active ~ img:last-child,
.meal-photo img:last-child:hover ~ img:first-child,
.meal-photo img:last-child:active ~ img:first-child {
  opacity: 1;
  transform: scale(1.15);
}

.meal {
  /* position: absolute; */
  z-index: 0;
}

.btn-add-meal {
  position: absolute;
  width: 25%;
  /* text-align: right; */
  /* vertical-align: bottom; */
  z-index: 1;
  margin-right: 100px;
  padding-right: 10px;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
}
